{% extends 'layouts/vertical.html' %}

{% block title %}Apex Candlestick Chart{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_content %}

{% set subTitle= 'Candlestick' %}
{% set title='Charts' %}
{% include 'partials/page-title.html' %}

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title anchor mb-1" id="overview">
                    Overview
                </h5>
                <p class="mb-0"><span class="fw-medium">Find the JS file for the following chart
                                        at:</span> <code> ../static/js/components/apexchart-candlestick.js</code>
                </p>
            </div><!-- end card-body -->
        </div><!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="simple">Simple Candlestick Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="simple-candlestick"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="combo">Combo Candlestick Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="combo-candlestick"></div>
                    <div class="apex-charts" id="combo-bar-candlestick"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="x-axis">Category X-Axis</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="x-axis-candlestick"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="line">Candlestick with Line</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="candlestick-with-line"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div> <!-- end col -->
    <div class="col-xl-3">
        <div class="card docs-nav">
            <ul class="nav bg-transparent flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#simple">Simple Candlestick Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#combo">Combo Candlestick Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#x-axis">Category X-Axis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#line">Candlestick with Line</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- end row -->
{% endblock page_content %}

{% block extra_javascript %}
<script src="https://apexcharts.com/samples/assets/ohlc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.17/dayjs.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/components/apexchart-candlestick.js"></script>
{% endblock extra_javascript %}
