{% extends 'layouts/vertical.html' %}

{% block title %}Apex Line Chart{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_content %}

{% set subTitle= 'Line' %}
{% set title='Charts' %}
{% include 'partials/page-title.html' %}

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title anchor mb-1" id="overview">
                    Overview
                </h5>
                <p>Apexcharts's CSS and Javascript files are bundled in the <code>vendors.min.css</code>
                    and <code>vendors.js</code> and globally included in all pages.</p>
                <p class="mb-0"><span class="fw-medium">Find the JS file for the following chart
                                        at:</span> <code> ../static/js/components/apexchart-line.js</code></p>
            </div><!-- end card-body -->
        </div><!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="simple">Simple line chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="datalabel">Line with Data Labels</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-datalabel"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="zoomable">Zoomable Timeseries</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-zoomable"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="syncing">Syncing charts</h4>
                <div id="line-chart-syncing2"></div>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-syncing"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="missing">Missing / Null values</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-missing"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="dashed">Dashed Line Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-dashed"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="stepline">Stepline Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-stepline"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="brush">Brush Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="chart-line2"></div>
                    <div class="apex-charts" id="chart-line"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3 anchor" id="realtime">Realtime Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="line-chart-realtime"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div> <!-- end col -->
    <div class="col-xl-3">
        <div class="card docs-nav">
            <ul class="nav bg-transparent flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#simple">Simple line chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#datalabel">Line with Data Labels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#zoomable">Zoomable Timeseries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#syncing">Syncing charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#missing">Missing / Null values</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dashed">Dashed Line Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#stepline">Stepline Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#brush">Brush Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#realtime">Realtime Chart</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- end row -->
{% endblock page_content %}

{% block extra_javascript %}
<script src="https://apexcharts.com/samples/assets/stock-prices.js"></script>
<script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/components/apexchart-line.js"></script>
{% endblock extra_javascript %}
