{% extends 'layouts/vertical.html' %}

{% block title %}Apex Column Chart{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_content %}

{% set subTitle= 'Column' %}
{% set title='Charts' %}
{% include 'partials/page-title.html' %}

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title anchor mb-1" id="overview">
                    Overview
                </h5>
                <p class="mb-0"><span class="fw-medium">Find the JS file for the following chart
                                        at:</span> <code> ../static/js/components/apexchart-column.js</code></p>
            </div><!-- end card-body -->
        </div><!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="basic">Basic Column Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="basic-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-3anchor" id="datalabels">Column Chart with Datalabels</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="datalabels-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="stacked">Stacked Column Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="stacked-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="full-stacked">100% Stacked Column Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="full-stacked-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="markers">Column with Markers</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="column-with-markers"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="group">Column with Group Label</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="column-with-group-label"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="rotate-labels">Column Chart with rotated labels &amp;
                    Annotations</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="rotate-labels-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="negative-value">Column Chart with negative values</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="negative-value-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="distributed">Distributed Column Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="distributed-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="range">Range Column Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="range-column"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <h4 class="card-title anchor flex-grow-1" id="dynamic">Dynamic Loaded Chart</h4>
                    <div class="flex-shrink-0">
                        <select class="form-select form-select-sm" id="model">
                            <option value="iphone5">iPhone 5</option>
                            <option value="iphone6">iPhone 6</option>
                            <option value="iphone7">iPhone 7</option>
                        </select>
                    </div>
                </div>
                <div dir="ltr">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="chart-year"></div>
                            <div id="chart-quarter"></div>
                        </div>
                    </div> <!-- end row-->
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div> <!-- end col -->
    <div class="col-xl-3">
        <div class="card docs-nav">
            <ul class="nav bg-transparent flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#basic">Basic Column Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#datalabels">Column Chart with Datalabels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#stacked">Stacked Column Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#full-stacked">100% Stacked Column Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#markers">Column with Markers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#group">Column with Group Label</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rotate-labels">Column Chart with rotated labels &amp;
                        Annotations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#negative-value">Column Chart with negative values</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#distributed">Distributed Column Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#range">Range Column Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dynamic">Dynamic Loaded Chart</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- end row -->
{% endblock page_content %}

{% block extra_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.0/dayjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.0/plugin/quarterOfYear.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/components/apexchart-column.js"></script>
{% endblock extra_javascript %}
