{% extends 'layouts/vertical.html' %}

{% block title %}Apex Bubble Chart{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_content %}

{% set subTitle= 'Bubble' %}
{% set title='Charts' %}
{% include 'partials/page-title.html' %}

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title anchor mb-1" id="overview">
                    Overview
                </h5>
                <p class="mb-0"><span class="fw-medium">Find the JS file for the following chart
                                        at:</span> <code> ../static/js/components/apexchart-bubble.js</code></p>
            </div><!-- end card-body -->
        </div><!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="simple">Simple Bubble Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="simple-bubble"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title anchor" id="3d-bubble">3D Bubble Chart</h4>
                <div dir="ltr">
                    <div class="apex-charts" id="second-bubble"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div> <!-- end col -->
    <div class="col-xl-3">
        <div class="card docs-nav">
            <ul class="nav bg-transparent flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#simple">Simple Bubble Chart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#3d-bubble">3D Bubble Chart</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- end row -->
{% endblock page_content %}

{% block extra_javascript %}
<script src="{{ config.ASSETS_ROOT }}/js/components/apexchart-bubble.js"></script>
{% endblock extra_javascript %}
