{% extends 'layouts/vertical.html' %}

{% block title %}Alerts{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_content %}

{% set subTitle= 'Alerts' %}
{% set title='UI' %}
{% include 'partials/page-title.html' %}

<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="overview">
                    Basic Example <a class="anchor-link" href="#overview">#</a>
                </h5>
                <p class="text-muted">
                    Provide contextual feedback messages for typical user actions with the handful of
                    available and flexible alert
                    messages. Alerts are available for any length of text, as well as an optional
                    dismiss button.
                </p>
                <div class="mb-3">
                    <div class="alert alert-primary" role="alert">
                        A simple primary alert—check it out!
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        A simple secondary alert—check it out!
                    </div>
                    <div class="alert alert-success" role="alert">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>
                    <div class="alert alert-warning" role="alert">
                        A simple warning alert—check it out!
                    </div>
                    <div class="alert alert-info" role="alert">
                        A simple info alert—check it out!
                    </div>
                    <div class="alert alert-light" role="alert">
                        A simple light alert—check it out!
                    </div>
                    <div class="alert alert-dark mb-0" role="alert">
                        A simple dark alert—check it out!
                    </div>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                            <code id="defaultAlerts">
                                                &lt;div class="alert alert-primary" role="alert"&gt;
                                                    A simple primary alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-secondary" role="alert"&gt;
                                                    A simple secondary alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-success" role="alert"&gt;
                                                    A simple success alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-danger" role="alert"&gt;
                                                    A simple danger alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-warning" role="alert"&gt;
                                                    A simple warning alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-info" role="alert"&gt;
                                                    A simple info alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-light" role="alert"&gt;
                                                    A simple light alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-dark mb-0" role="alert"&gt;
                                                    A simple dark alert—check it out!
                                                &lt;/div&gt;
                                            </code>
                                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="alert-dismissible">
                    Dismissible Alerts Example <a class="anchor-link" href="#alert-dismissible">#</a>
                </h5>
                <p class="text-muted">
                    Add a dismiss button and the <code>.alert-dismissible</code> class, which adds extra
                    padding to the right of the alert and
                    positions the <code>.btn-close</code> button.
                </p>
                <div class="mb-3">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple primary alert—check it out!
                    </div>
                    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple secondary alert—check it out!
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple danger alert—check it out!
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple warning alert—check it out!
                    </div>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple info alert—check it out!
                    </div>
                    <div class="alert alert-light alert-dismissible fade show" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple light alert—check it out!
                    </div>
                    <div class="alert alert-dark alert-dismissible fade show mb-0" role="alert">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                        A simple dark alert—check it out!
                    </div>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                            <code id="dismissingAlerts">
                                                &lt;div class="alert alert-primary alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple primary alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-secondary alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple secondary alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-success alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple success alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-danger alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple danger alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-warning alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple warning alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-info alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple info alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-light alert-dismissible fade show" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple light alert—check it out!
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-dark alert-dismissible fade show mb-0" role="alert"&gt;
                                                    &lt;button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"&gt;&lt;/button&gt;
                                                    A simple dark alert—check it out!
                                                &lt;/div&gt;
                                            </code>
                                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="alert-link">
                    Alert Link Example <a class="anchor-link" href="#alert-link">#</a>
                </h5>
                <p class="text-muted">
                    Use the <code>.alert-link</code> utility class to quickly provide matching colored
                    links within any alert.
                </p>
                <div class="mb-3">
                    <div class="alert alert-primary" role="alert">
                        A simple primary alert with <a class="alert-link" href="javascript:void(0);">an
                        example link</a>. Give it a click if you like.
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        A simple secondary alert with <a class="alert-link" href="javascript:void(0);">an example
                        link</a>. Give it a click if you like.
                    </div>
                    <div class="alert alert-success" role="alert">
                        A simple success alert with <a class="alert-link" href="javascript:void(0);">an
                        example link</a>. Give it a click if you like.
                    </div>
                    <div class="alert alert-danger mb-0" role="alert">
                        A simple danger alert with <a class="alert-link" href="javascript:void(0);">an
                        example link</a>. Give it a click if you like.
                    </div>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                            <code id="alertsLink">
                                                &lt;div class="alert alert-primary" role="alert"&gt;
                                                    A simple primary alert with &lt;a href="javascript:void(0);" class="alert-link"&gt;an example link&lt;/a&gt;. Give it a click if you like.
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-secondary" role="alert"&gt;
                                                    A simple secondary alert with &lt;a href="javascript:void(0);" class="alert-link"&gt;an example link&lt;/a&gt;. Give it a click if you like.
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-success" role="alert"&gt;
                                                    A simple success alert with &lt;a href="javascript:void(0);" class="alert-link"&gt;an example link&lt;/a&gt;. Give it a click if you like.
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-danger mb-0" role="alert"&gt;
                                                    A simple danger alert with &lt;a href="javascript:void(0);" class="alert-link"&gt;an example link&lt;/a&gt;. Give it a click if you like.
                                                &lt;/div&gt;
                                            </code>
                                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="alert-icon">
                    Icons Alert Example <a class="anchor-link" href="#alert-icon">#</a>
                </h5>
                <p class="text-muted">
                    You can also include additional elements like icons, heading, etc along side the
                    actual message.
                </p>
                <div class="mb-3">
                    <div class="alert alert-primary alert-icon" role="alert">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm rounded bg-primary d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0">
                                <i class="bx bx-info-circle text-white"></i>
                            </div>
                            <div class="flex-grow-1">
                                A simple primary alert—check it out!
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-secondary alert-icon" role="alert">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm rounded bg-secondary d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0">
                                <i class="bx bx-x-circle text-white"></i>
                            </div>
                            <div class="flex-grow-1">
                                A simple secondary alert—check it out!
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-icon" role="alert">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm rounded bg-success d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0">
                                <i class="bx bx-check-shield text-white"></i>
                            </div>
                            <div class="flex-grow-1">
                                A simple success alert—check it out!
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-icon mb-0" role="alert">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm rounded bg-danger d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0">
                                <i class="bx bx-info-circle text-white"></i>
                            </div>
                            <div class="flex-grow-1">
                                A simple danger alert—check it out!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                            <code id="alertWithIcon">
                                                &lt;div class="alert alert-primary alert-icon" role="alert"&gt;
                                                    &lt;div class="d-flex align-items-center"&gt;
                                                        &lt;div class="avatar-sm rounded bg-primary d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0"&gt;
                                                            &lt;i class="bx bx-info-circle text-white"&gt;&lt;/i&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="flex-grow-1"&gt;
                                                            A simple primary alert—check it out!
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-secondary alert-icon" role="alert"&gt;
                                                    &lt;div class="d-flex align-items-center"&gt;
                                                        &lt;div class="avatar-sm rounded bg-secondary d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0"&gt;
                                                            &lt;i class="bx bx-x-circle text-white"&gt;&lt;/i&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="flex-grow-1"&gt;
                                                            A simple secondary alert—check it out!
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-success alert-icon" role="alert"&gt;
                                                    &lt;div class="d-flex align-items-center"&gt;
                                                        &lt;div class="avatar-sm rounded bg-success d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0"&gt;
                                                            &lt;i class="bx bx-check-shield text-white"&gt;&lt;/i&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="flex-grow-1"&gt;
                                                            A simple success alert—check it out!
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-danger alert-icon mb-0" role="alert"&gt;
                                                    &lt;div class="d-flex align-items-center"&gt;
                                                        &lt;div class="avatar-sm rounded bg-danger d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0"&gt;
                                                            &lt;i class="bx bx-info-circle text-white"&gt;&lt;/i&gt;
                                                        &lt;/div&gt;
                                                        &lt;div class="flex-grow-1"&gt;
                                                            A simple danger alert—check it out!
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                &lt;/div&gt;    
                                            </code>
                                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="alert-additional">
                    Additional Content Alert Example <a class="anchor-link" href="#alert-additional">#</a>
                </h5>
                <p class="text-muted">
                    Alerts can also contain additional HTML elements like headings, paragraphs and
                    dividers.
                </p>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="alert alert-primary mb-3 p-3 mb-xl-0" role="alert">
                                <h4 class="alert-heading">Well done!</h4>
                                <p class="mb-0">Aww yeah, you successfully read this important alert
                                    message. This example text is going to run a bit longer so that you
                                    can see how spacing within an alert works with this kind of content.
                                </p>
                                <hr/>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                                    keep things nice and tidy.</p>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="alert alert-secondary p-3 mb-0" role="alert">
                                <h4 class="alert-heading">Well done!</h4>
                                <p class="mb-0">Aww yeah, you successfully read this important alert
                                    message. This example text is going to run a bit longer so that you
                                    can see how spacing within an alert works with this kind of content.
                                </p>
                                <hr/>
                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                                    keep things nice and tidy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                            <code id="additionalContent">
                                                &lt;div class="alert alert-primary mb-3 p-3 mb-xl-0" role="alert"&gt;
                                                    &lt;h4 class="alert-heading"&gt;Well done!&lt;/h4&gt;
                                                    &lt;p class="mb-0"&gt;Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.&lt;/p&gt;
                                                    &lt;hr&gt;
                                                    &lt;p class="mb-0"&gt;Whenever you need to, be sure to use margin utilities to keep things nice and tidy.&lt;/p&gt;
                                                &lt;/div&gt;
                                                &lt;div class="alert alert-secondary p-3 mb-0" role="alert"&gt;
                                                    &lt;h4 class="alert-heading"&gt;Well done!&lt;/h4&gt;
                                                    &lt;p class="mb-0"&gt;Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.&lt;/p&gt;
                                                    &lt;hr&gt;
                                                    &lt;p class="mb-0"&gt;Whenever you need to, be sure to use margin utilities to keep things nice and tidy.&lt;/p&gt;
                                                &lt;/div&gt;
                                            </code>
                                        </pre>
                    </div>
                </div>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
    <div class="col-xl-3">
        <div class="card docs-nav">
            <ul class="nav bg-transparent flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">Basic Example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alert-dismissible">Alert Dismissible</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alert-link">Alert Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alert-icon">Icons Alert</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#alert-additional">Additional Content Alert</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- end row -->
{% endblock page_content %}

{% block extra_javascript %}

{% endblock extra_javascript %}
