{% extends 'layouts/vertical.html' %}

{% block title %}Placeholders{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block page_content %}

{% set subTitle= 'Placeholders' %}
{% set title='UI' %}
{% include 'partials/page-title.html' %}

<!-- start progress -->
<div class="row">
    <div class="col-xl-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="default">
                    Default<a class="anchor-link" href="#default">#</a>
                </h5>
                <p class="text-muted">
                    A progress bar can be used to show a user how far along he/she is in a process.
                </p>
                <div class="mb-3">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="card">
                                <svg aria-label="Placeholder" class="bd-placeholder-img card-img-top" focusable="false"
                                     height="180" preserveaspectratio="xMidYMid slice" role="img" width="100%"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#20c997" height="100%" width="100%"></rect>
                                </svg>
                                <div class="card-body">
                                    <h5 class="card-title mb-2">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the
                                        card title and make up the bulk of the card's content.</p>
                                    <a class="btn btn-primary" href="#">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div aria-hidden="true" class="card">
                                <svg aria-label="Placeholder" class="bd-placeholder-img card-img-top" focusable="false"
                                     height="180" preserveaspectratio="xMidYMid slice" role="img" width="100%"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Placeholder</title>
                                    <rect fill="#868e96" height="100%" width="100%"></rect>
                                </svg>
                                <div class="card-body">
                                    <div class="h5 card-title placeholder-glow">
                                        <span class="placeholder col-6"></span>
                                    </div>
                                    <p class="card-text placeholder-glow">
                                        <span class="placeholder col-7"></span>
                                        <span class="placeholder col-4"></span>
                                        <span class="placeholder col-4"></span>
                                        <span class="placeholder col-6"></span>
                                        <span class="placeholder col-8"></span>
                                    </p>
                                    <a class="btn btn-primary disabled placeholder col-6" href="#" tabindex="-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                                <code id="backgroundsProgress">
                                                    &lt;div class="card"&gt;
                                                        &lt;svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"&gt;
                                                            &lt;title&gt;Placeholder&lt;/title&gt;
                                                            &lt;rect width="100%" height="100%" fill="#20c997"&gt;&lt;/rect&gt;
                                                        &lt;/svg&gt;

                                                        &lt;div class="card-body"&gt;
                                                            &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
                                                            &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
                                                            &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;

                                                    &lt;div class="card" aria-hidden="true"&gt;
                                                        &lt;svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"&gt;
                                                            &lt;title&gt;Placeholder&lt;/title&gt;
                                                            &lt;rect width="100%" height="100%" fill="#868e96"&gt;&lt;/rect&gt;
                                                        &lt;/svg&gt;

                                                        &lt;div class="card-body"&gt;
                                                            &lt;div class="h5 card-title placeholder-glow"&gt;
                                                                &lt;span class="placeholder col-6"&gt;&lt;/span&gt;
                                                            &lt;/div&gt;
                                                            &lt;p class="card-text placeholder-glow"&gt;
                                                                &lt;span class="placeholder col-7"&gt;&lt;/span&gt;
                                                                &lt;span class="placeholder col-4"&gt;&lt;/span&gt;
                                                                &lt;span class="placeholder col-4"&gt;&lt;/span&gt;
                                                                &lt;span class="placeholder col-6"&gt;&lt;/span&gt;
                                                                &lt;span class="placeholder col-8"&gt;&lt;/span&gt;
                                                            &lt;/p&gt;
                                                            &lt;a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"&gt;&lt;/a&gt;
                                                        &lt;/div&gt;
                                                    &lt;/div&gt;
                                                </code>
                                            </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="how-works">
                    How it works<a class="anchor-link" href="#how-works">#</a>
                </h5>
                <p class="text-muted">Create placeholders with the <code>.placeholder</code> class
                    and a grid column class (e.g., <code>.col-6</code>) to set the
                    <code>width</code>. They can replace the text inside an element or be added as a
                    modifier class to an existing component.</p>
                <div class="mb-3">
                    <p aria-hidden="true">
                        <span class="placeholder col-6"></span>
                    </p>
                    <a aria-hidden="true" class="btn btn-primary disabled placeholder col-4" href="#" tabindex="-1"></a>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                                <code>
                                                    &lt;p aria-hidden="true"&gt;
                                                        &lt;span class="placeholder col-6"&gt;&lt;/span&gt;
                                                    &lt;/p&gt;

                                                    &lt;a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"&gt;&lt;/a&gt;
                                                </code>
                                            </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="width">
                    Width<a class="anchor-link" href="#">#</a>
                </h5>
                <p class="text-muted">You can change the <code>width</code> through grid column
                    classes, width utilities, or inline styles.</p>
                <div class="mb-3">
                    <span class="placeholder col-6"></span>
                    <span class="placeholder w-75"></span>
                    <span class="placeholder" style="width: 25%;"></span>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                                <code>
                                                    &lt;span class="placeholder col-6"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder w-75"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder" style="width: 25%;"&gt;&lt;/span&gt;
                                                </code>
                                            </pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-1 anchor" id="color">
                    Color<a class="anchor-link" href="#color">#</a>
                </h5>
                <p class="text-muted">By default, the <code>placeholder</code> uses
                    <code>currentColor</code>. This can be overridden with a custom color or utility
                    class.</p>
                <div class="mb-3">
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12 bg-primary"></span>
                    <span class="placeholder col-12 bg-secondary"></span>
                    <span class="placeholder col-12 bg-success"></span>
                    <span class="placeholder col-12 bg-danger"></span>
                    <span class="placeholder col-12 bg-warning"></span>
                    <span class="placeholder col-12 bg-info"></span>
                    <span class="placeholder col-12 bg-light"></span>
                    <span class="placeholder col-12 bg-dark"></span>
                </div>
                <div class="highlight">
                    <div class="highlight-toolbar">
                        <small class="text-uppercase">html</small>
                        <button class="btn btn-sm btn-outline-success btn-copy-clipboard" data-clipboard-action="copy">
                            Copy
                        </button>
                    </div>
                    <div class="code">
<pre class="language-html">
                                                <code id="backgroundsProgress">
                                                    &lt;span class="placeholder col-12"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-primary"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-secondary"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-success"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-danger"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-warning"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-info"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-light"&gt;&lt;/span&gt;
                                                    &lt;span class="placeholder col-12 bg-dark"&gt;&lt;/span&gt;
                                                </code>
                                            </pre>
                    </div>
                </div>
            </div>
        </div> <!-- end card body -->
    </div> <!-- end col -->
    <div class="col-xl-3">
        <div class="card docs-nav">
            <ul class="nav bg-transparent flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#default">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#how-works">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#width">Width</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#color">Color</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- end row -->
<!-- end progress -->

@@include("partials/footer.html")
{% endblock page_content %}

{% block extra_javascript %}

{% endblock extra_javascript %}
